<div class="follow-me">
  <ul>
    <li>
      <small>Follow me</small>
    </li>
    <li>
      <a class="facebook" target="_blank" href="https://www.facebook.com/EdwardWongHauPepeluTivruskyIII" title="Follow on Facebook"><span>Follow on Facebook</span></a>
    </li>
    <li>
      <a class="github" target="_blank" href="https://github.com/thall003" title="Follow on GitHub"><span>Follow on Github</span></a>
    </li>
    <li>
      <a class="twitter" target="_blank" href="https://twitter.com/rcaferati" title="Follow on Twitter"><span>Follow on Twitter</span></a>
    </li>
    <li>
      <a class="instagram" target="_blank" href="https://instagram.com/rcaferati" title="Follow on Instagram"><span>Follow on Instagram</span></a>
    </li>
  </ul>
</div>
