.follow-me {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #8a8a8a;
  display: block;
  font-weight: 400;
  height: 220px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  top: 252px;
  width: 55px;
  z-index: 1001;
}
