<mat-card class="main-content-card wrap grid-block">

      <mat-card-header>
        <div mat-card-avatar class="my-image"></div>
        <mat-card-title>Hello, my name is Terrance Hall </mat-card-title>
        <mat-card-subtitle>I am a Full Stack Web Developer.</mat-card-subtitle>
      </mat-card-header>
  <img mat-card-image src="../../assets/img/me3.jpg" alt="Me">
      <mat-card-content>
        <p>
          <!-- Place this tag where you want the button to render. -->
          Check out my Angular 2+ UI Components and code snippets at my code laboratory.
          Feel free to take a look at my latest projects on the web portfolio page.
          Based in Virginia Beach, VA. Enquires at terrance@swiftkeycapital.com
        </p>
        <mat-card-actions>

        </mat-card-actions>
      </mat-card-content>
  <!-- Place this tag in your head or just before your close body tag. -->

</mat-card>


<!--TODO make a form contact component-->
