

<mat-sidenav-container>

  <!--<mat-sidenav #sidenav mode="side">-->
    <!--Sidenav-->
  <!--</mat-sidenav>-->

  <mat-sidenav-content>

    <div class="order-page-container">

      <mat-toolbar color="accent">

        <h4>
          Terrance Hall
        </h4>

        <span class="example-fill-remaining-space"></span>

        <!--<button mat-button>Home</button>-->
        <!--<button mat-button>About</button>-->
        <!--<button mat-button>Portfolio</button>-->
        <!--<button mat-button>Work</button>-->
        <!--<button mat-button>Contact</button>-->

        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
          Open Menu
        </button>
        <mat-menu #menu="matMenu">
          <nav mat-button mat-menu-item [routerLink]="['/']" (click)= "changeValue(true)">
            <span>Home</span>
          </nav>
          <nav mat-button mat-menu-item [routerLink]="['/about']" (click)= "changeValue(true)">
            <span>About</span>
          </nav>
          <nav mat-button mat-menu-item [routerLink]="['/portfolio']" (click)= "changeValue(false)">
            <span>Portfolio</span>
          </nav>
          <nav mat-button mat-menu-item [routerLink]="['/labs']" (click)= "changeValue(true)">
            <span>Code Lab</span>
          </nav>
          <nav mat-button mat-menu-item [routerLink]="['/work']" (click)= "changeValue(true)">
            <span>Work</span>
          </nav>
          <nav mat-button mat-menu-item [routerLink]="['/contact']" (click)= "changeValue(true)">
            <span>Contact</span>
          </nav>


        </mat-menu>

      </mat-toolbar>
      <div *ngIf="isValid; then thenBlock;else elseBlock"> </div>
      <ng-template #thenBlock>
        <div class="wrap grid-block">

          <!--<button (click)="sidenav.toggle()">Menu</button>-->

          <div class="wrap small-12 medium-4 grid-block">
            <div class="wrap small-12 grid-block">
              <!--Spacing-->
            </div>
          </div>

          <div class="wrap small-12 medium-4 grid-block">
            <div class="wrap small-12 grid-block">
              <router-outlet></router-outlet>
            </div>
          </div>

          <div class="wrap small-12 medium-4 grid-block">
            <div class="wrap small-12 grid-block">
              <!--Spacing-->
            </div>
          </div>

        </div>
      </ng-template>
      <ng-template #elseBlock>
        <div class="wrap grid-block">
              <router-outlet></router-outlet>
        </div>
      </ng-template>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
<!--TODO I want to make a download resume button in the sidenav-->
<!--TODO Get icons to work-->
<!--TODO make grid list for portfolio and work. Make classes for this stuff-->
