/* Navigation (float)
---------------------------------------*/

.float {
  text-align: center;
}

.float a {
  float: left;
  padding: 15px 20px;
  width: 25%;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
